:root {
  --colorFondo: #111;
  --colorContenedores: #252525;
  --colorRojo: #ff4f4f;
  --colorDominante: #bd4bff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  transition: 0.3s;
}

#ventanaError404 {
  background-color: var(--colorFondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

#btnPaginaPrincipal {
  background: none;
  border: 2px solid white;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

#btnPaginaPrincipal:hover {
  transform: scale(1.05);
}

#btnPaginaPrincipal:active {
  transform: scale(0.95);
}