:root {
  --colorFondo: #111;
  --colorContenedores: #252525;
  --colorRojo: #ff4f4f;
  --colorDominante: #bd4bff;
  --colorVerde: #47ff5f;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  transition: 0.3s;
}

#ventanaPanelMonitoreo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--colorFondo);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorContenedores);
  border-bottom: 1px solid grey;
  padding: 5px 10px;
}

nav strong {
  border-left: 2px solid var(--colorDominante);
  padding: 0px 10px;
}

nav div {
  display: flex;
  gap: 15px
}

nav button {
  background: none;
  border: none;
  border-bottom: 2px solid var(--colorContenedores);
  padding: 2px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

nav button:hover {
  border-color: white;
}

nav button:active {
  border-color: var(--colorDominante);
}

#modalNuevoServidor,
#modalBorrarServidor,
#modalAyuda {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #000000b9;
  z-index: 999;
}

#formNuevoServidor,
#formBorrarServidor {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  min-width: 250px;
  background-color: var(--colorContenedores);
  border-radius: 10px;
  padding: 10px 30px;
  gap: 15px;
}

header {
  text-align: center;
  position: relative;
}

header button {
  position: absolute;
  background: none;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}

header button:hover {
  transform: scale(1.05);
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 10px
}

#inputs * {
  font-size: medium;
  font-weight: 600;
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid grey;
  color: grey;
  padding: 5px 0px;
}

#inputs *:focus {
  color: white;
  border-color: white;
}

#msgErrorAgregarServidor,
#msgErrorEliminarServidor {
  font-weight: 600;
  color: var(--colorRojo);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 5px
}

footer button {
  background: none;
  border: 2px solid white;
  padding: 2px;
  border-radius: 5px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

footer button:active {
  transform: scale(0.95);
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--colorDominante), transparent);
  margin: 5px;
}


#contenedorServidores {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.itemServidor {
  background-color: var(--colorContenedores);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.itemServidor h3 {
  text-align: center;
}

.itemServidor p {
  font-weight: 600;
}

.contenedorToken {
  padding: 5px;
}

.contenedorToken p {
  font-family: 'Courier New', Courier, monospace;
  overflow-wrap: break-word;
  font-weight: 500;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}


.estado.Indeterminado {
  color: grey;
}

.estado.Encendido {
  color: var(--colorVerde);
}

.estado.Apagado {
  color: var(--colorRojo);
}

.btnEliminarServidor {
  margin-top: 10px;
  background: none;
  border: none;
  background-color: var(--colorRojo);
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
  padding: 5px;
  border-radius: 10px;
}

#contenedorInformaciónAyuda {
  display: flex;
  flex-direction: column;
  background-color: var(--colorContenedores);
  padding: 30px;
  border-radius: 10px;
  max-width: 1000px;
  max-height: 500px;
  overflow-y: scroll;
}

#contenedorInformaciónAyuda h1 {
  text-align: center;
}

.tituloArchivo {
  font-weight: 600;
  color: rgb(208, 163, 245);
}

.codigo {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff780;
}